mixin order-form()
  +b.SECTION.order-form&attributes(attributes)
    +e.buttons
      +e.BUTTON.collapse.js-hide-orderform
        +e.collapse-text Свернуть
        +icon('arrow').__collapse-arrow
    +form.__form(action="/" method="post" data-validated-form data-orderform)
      +grid
        +col({xl: 1, sm: 12}).is-hidden-sm
        +col({xl: 10, sm: 12})
          +e.FIELDSET.section(data-form-checkers)
            +e.title Детали Мастер-класса
            +grid
              +col({xl: 6, sm: 12})
                +inputbox()
                  +label Выберите адрес студии*
                  +input-wrapper
                    +select.js-select(name="location" data-location required data-parsley-group="start")
                      option(value="" placeholder) Выберите адрес студии из списка
                      option(value="1") Москва, Шлюзовая набережная д. 6 стр. 4
                      option(value="2") с. Эстосадок, Роза Хутор, ул. Каменка, 2
              +col({xl: 12})
                +inputbox()
                  +label Выберите мастер-класс*
                  +input-wrapper
                    +mc-select
                      each item in getData('cases-short')
                        +mc-select-item(item)
            +e.checkers
              +b.LABEL.checkradio.__checker
                +e.INPUT.input(name="oven", value="oven", type="checkbox" data-form-type="oven" data-oven)
                +e.SPAN.box
                  +icon('check').__check
                +e.SPAN.content Я купил духовой шкаф с паром - пойду на мастер-класс бесплатно
          +e.content(data-form-body)
            +e.FIELDSET.section
              +e.text_chd.is-disabled(data-form-field="child") К мастер-классу допускаются дети в возрасте от 6-ти лет и только в сопровождении одного взрослого.
              +e.title._mb28
                span(data-form-field="adult") Личные данные
                span.is-disabled(data-form-field="child") Сопровождающий ребенка
              +grid
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Представьтесь, пожалуйста (ФИО)*
                    +input-wrapper
                      +input(type="text" name="name" required placeholder="ФИО*")
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Адрес электронной почты*
                    +input-wrapper
                      +input(type="email" name="email" required placeholder="Например, ivan.ivanov@electrolux.com" data-type="email")
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Телефон*
                    +input-wrapper
                      +input(type="tel" name="phone" required placeholder="Например, +79032094743" data-type="tel")
                +col({xl: 6, sm: 12})(data-form-field="adult")
                  +inputbox()
                    +label Количество человек*
                    +input-wrapper
                      +select.js-select(name="vacancy" data-form-vacancy required)
                        - for (var i = 1; i <= 22; i++) {
                          option(value=i)!=i
                        -}
            +e.FIELDSET.section.is-disabled(data-form-field="child")
              +e.title_sm-mb40 Данные ребенка
              +e.childes(data-child-container)
                +e.child(data-child)
                  +grid()
                    +col({xl: 6, sm: 12})
                      +inputbox()
                        +label Имя ребенка*
                        +input-wrapper
                          +input(type="text" name="childName[0]" required placeholder="Имя ребенка")
                    +col({xl: 6, sm: 12})
                      +inputbox()
                        +label Возраст ребенка*
                        +input-wrapper
                          +select.js-select(name="childAge[0]" required)
                            option(value="" placeholder) Сколько лет
                            - for (var i = 6; i <= 18; i++) {
                              option(value=i)!=i
                            -}
                  +e.BUTTON.child-remove.js-remove-child(type="button")
                    +icon('cross').__child-cross
              +e.add
                +button('button').__additional.js-add-child(type="button" data-child-template-src="assets/data/template.json" data-child-fields-names="childName,childAge" data-max-childs-count="11") + Добавить ребенка
            +e.FIELDSET.section_mgt46.is-disabled(data-form-field="oven")
              +e.title Ваш продукт
              +grid
                +col({xl: 12})
                  +inputbox()
                    +label Модель духового шкафа*
                    +input-wrapper
                      +select.js-select(name="ovenModel" required)
                        option(value="" placeholder) Выберите из списка
                        - for (var i = 1; i <= 11; i++) {
                          option(value=i) Модель #{i}
                        -}
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Где была куплена техника*
                    +input-wrapper
                      +select.js-select(name="shop" required)
                        option(value="" placeholder) Выберите из списка
                        - for (var i = 1; i <= 11; i++) {
                          option(value=i) Магазин #{i}
                        -}
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Дата покупки*
                    +input-wrapper.js-datepicker
                      +input(type="text" name="shoppingDate" required placeholder="дд.мм.гггг" data-date data-type="date2").js-show-datepicker
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Номер чека*
                    +input-wrapper
                      +input(type="text" name="checkNumber" required placeholder="16278499921" data-parsley-type="digits")
                +col({xl: 6, sm: 12})
                  +inputbox()
                    +label Приложите чек*
                    +input-wrapper
                      +input-uploader
            +e.FIELDSET.section_mgt46
              +e.title У меня есть промокод
              +promocode.__promocode
            +e.FIELDSET.section
              +e.notes
                +e.note * Обязательное поле
                +inputbox().__agreements
                  +input-wrapper
                    +checkradio(false, 'offer', 'offer', false, true)._fz15.__agreement
                      p Я принимаю&nbsp;
                        +link()._underline(href="#" target="__blank") условия оферты и ознакомился с правилами проведения акции.
                      p Я соглашаюсь&nbsp;
                        +link()._underline(href="#" target="__blank") с условиями обработки персональных данных, оплаты, возврата и пользования сайтом.
              +e.payment(data-form-field="pay")
                +e.price
                  +e.total <span data-total-price>3 000</span> ₽
                  +e.price-text итоговая стоимость
                  +input(type="hidden" name="totalPrice" data-total-price-field)
              +e.buttons_mtb
                +button('button').__button.js-form-submit(type="submit")
                  span.is-disabled(data-form-field="free") Записаться
                  span(data-form-field="pay") Оплатить
              +e.note_centered._mt20(data-form-field="pay") После нажатия, Вы будете перенесены на страницу оплаты. Это безопасно.
        +col({xl: 1, sm: 12}).is-hidden-sm

    block

mixin ui-kit-order-form()
  +ui-section
    +ui-section-head
      +ui-title Компонент order-form
      +ui-path
        p Компонент: components/order-form/order-form
      +ui-description
        p Описание компонента

    +ui-section-content()
      +order-form

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
